<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2/css/bootstrap.css' %}">
    <!-- Add additional CSS and JS in static file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/library.js' %}" defer></script>
  </head>
  <body>
    <header class="bg-secondary">
      Local Library
    </header>
    <main>
      <!-- Nav Section -->
      {% if user.is_authenticated %}
      <div class="nav-content bg-dark">
        <a class="bg-primary" style="outline:1px solid white;" href="{% url 'index' %}">Home</a>
        <a id="books" href="{% url 'books' %}">Books</a>
        <a href="{% url 'authors' %}">Authors</a>
        <a href="{% url 'genres' %}">Genres</a>
        <a href="{% url 'copies' %}">Copies</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
      {% else %}
      <div class="text-white text-center bg-dark" style="padding:10px;margin-top:2px;">You are not currently logged into an account. To continue, please sign in or register to create an account.</div>
      {% endif %}
      <!--Content Section-->
        {% block content %}
        {% endblock %}
      <!--Pagination Section-->
      {% block pagination %}
      {% if is_paginated %}
      <div class="paginate p-2" style="display: flex;justify-content: center;">
		  {% if page_obj.has_previous %}
		  <a class="btn btn-outline-info" href="{{ request.path }}?page=1">First</a>
		  <a class="btn btn-outline-info ms-2" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
		  
		  {% for num in page_obj.paginator.page_range %}
		  	{% if page_obj.number == num %}
		  	<a class="btn btn-info ms-2" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
		  	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
			<a class="btn btn-outline-info ms-2" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
		  	{% endif %}
		  {% endfor %}
		
		  {% if page_obj.has_next %}
		  <a class="btn btn-outline-info ms-2" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
		  <a class="btn btn-outline-info ms-2" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
                    
      </div>
      {% endif %}
      {% endblock pagination %}
    </main>
    <footer class="bg-dark">Local Library &copy; 2023</footer>
  </body>
</html>
