{% extends "base.html" %}

{% block content %}
<div class="booklist mb-3" style="font-size:16px;">
  <div class="user" style="font-size: 20px;font-weight:400;">
    <div class="user-section" style="display:flex;flex-direction:column;justify-content:space-evenly;background-color:dimgray;">
      {% if user.is_staff %}
      <div class="text-center text-light bg-dark" style="padding:13px;">Welcome, {{ user.get_username }}</div>
      <div class="text-center"><a href="{% url 'my-borrowed' %}" class="text-white" style="display:block;">My Books</a></div>
      <div class="text-center text-white"><a href="{% url 'all-borrowed' %}" class="text-white" style="display:block;">All borrowed books</a></div>
      <div class="text-center"><a href="#" class="text-white" style="display:block;">Renew a book</a></div>
      {% elif perms.catalog.can_mark_returned %}
      <div class="text-center text-light bg-dark" style="padding:13px;">Welcome, {{ user.get_username }}</div>
      <div class="text-center"><a href="{% url 'my-borrowed' %}" class="text-white" style="display:block;">My Books</a></div>
      {% endif %}
    </div>
    <div class="recently-borrowed">
      Recently Borrowed
    </div>
  </div>
  <div class="favorites"></div>
  <div class="books">
  {% if book_list %}
      {% for book in book_list %}
      <a href="{{ book.get_absolute_url }}" style="display:block;text-decoration:none;">
        <div class="book-item border" style="height:100%;max-width:100%;max-height:100%;">
          <div class="book-cover" style="height:60%;">
            <img src="{{ book.cover.url }}" alt="{{ book.title }}" style="max-width:100%;max-height:100%;display:block;margin:0 auto;">
          </div>
          <div class="booklist-info bg-dark text-white p-3" style="height:40%;">
            <p class="text-center">{{ book.title }}</p>
            <p class="text-center">Author : {{ book.author }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
  </div>
  <div class="highest-rated"></div>
</div>
{% endblock content %}
