{% extends "base.html" %}

{% block title %}
<title>HomePage</title>
{% endblock title %}

{% block content %}
<div class="container p-5">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} text-center p-1">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <h2 class="text-center">Local Library Home</h2>
  <p class="text-center">
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
  </p>
  <hr>
  <div class="container-fluid border rounded mt-4 p-4" style="font-weight:300;">
    <h4>The library has the following record counts:</h4>
    <ul>
      <li class="mb-2"><strong>Books:</strong> {{ num_books }}</li>
      <li class="mb-2"><strong>Copies:</strong> {{ num_instances }}</li>
      <li class="mb-2"><strong>Copies available:</strong> {{ num_instances_available }}</li>
      <li class="mb-2"><strong>Authors:</strong> {{ num_authors }}</li>
      <li class="mb-2"><strong>Number of genres:</strong> {{ num_genres }}</li>
      <li class="mb-2"><strong>Number of books that contain the word "The":</strong> {{ particular_books }}</li>
    </ul>
  </div>
  <!--Note that we use the Django built-in template tag pluralize to add an "s" when the page has been visited multiple times.-->
  <p class="text-center mt-3">
  You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
</p>
</div>
{% endblock %}
