html {
  padding: 0;
}
body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}
header {
  color: white;
  padding: 3%;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.nav-content {
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
}
.nav-content > a {
  flex-basis: 150px;
  flex-grow: 1;
  padding: 12px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
}
#home {
  color: white;
  background-color: #004369;
  outline: 1px solid white;
}
.nav-content a:hover:not(#home) {
  background-color: dimgray;
  outline: 1px solid white;
  color: white;
}
.login {
  padding: 5%;
}
.logout {
  padding: 10.8%;
}
/* Book-List View */

.booklist {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  grid-template-areas:
  "user books highest-rated"
  "favorites books highest-rated";
  width: 100%;
}
.booklist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user {
  grid-area: user;
  background-color: #C1C2AD;
  outline: 1px solid grey;
  border-radius: 3px;
}
.books {
  grid-area: books;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-auto-rows: 400px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.book-item:hover {
  outline: 1px solid #B1B1B1;
}
.favorites {
  grid-area: favorites;
  background-color: #FDB750;
  outline: 1px solid grey;
  border-radius: 3px;
}
.highest-rated {
  grid-area: highest-rated;
  background-color: lightgreen;
  outline: 1px solid grey;
  border-radius: 3px;
}

/* Book-Detail View */
.book-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 600px auto;
  grid-gap: 5px;
  grid-template-areas:
  "book-info book-summary book-summary"
  "reviews reviews copies";
}
.book-info {
  grid-area: book-info;
}
.book-info > .information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.book-summary {
  grid-area: book-summary;
}
.reviews {
  grid-area: reviews;
  display: grid;
  grid-template-rows: auto 800px;
  grid-auto-columns: 1fr;
}
.review-section {
  overflow: auto;
}
.copies {
  grid-area: copies;
}
.borrow-form-field {
  display: inline-block;
  width: 100%;
  border: 1px solid #9FA6B2;
  border-radius: 5px;
  font-weight: 300;
}

/* Author-List View */
.author-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(4, 360px);
  grid-auto-rows: 360px;
  grid-gap: 5px;
}

/* Author Details Page */
.author-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 400px auto;
  grid-gap: 5px;
  grid-template-areas:
  "author-info author-bio"
  "author-books author-books";
}
.author-info {
  grid-area: author-info
}
.author-bio {
  grid-area: author-bio;
  display: grid;
  grid-template-rows: 20% 80%;
}
.author-books {
  grid-area: author-books;
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-auto-rows: 300px;
  grid-gap: 10px;
  padding: 1%;
}

footer {
  padding: 20px;
  color: white;
  text-align: center;
  margin: 0;
}
